* {
    box-sizing: border-box;
}

h1{
    color:white;
   background-color:pink;
}
.p1{
    color:yellow;
}

.p2{
    color:green;
}

.p3{
    color:blue;
}

html{
    background-color:grey
}

footer {
    color: white;
}

p {
    color:white
}

.border1 {
    color: white
} 


